<h1>Primecategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @primecategories.each do |primecategory| %>
      <tr>
        <td><%= primecategory.name %></td>
        <td><%= primecategory.description %></td>
        <td><%= link_to 'Show', primecategory %></td>
        <td><%= link_to 'Edit', edit_primecategory_path(primecategory) %></td>
        <td><%= link_to 'Destroy', primecategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Primecategory', new_primecategory_path %>
