<p id="notice"><%= notice %></p>

<h1>Items</h1>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <%= link_to 'New Item', new_moderator_item_path, class: "btn btn-success", role: "button"%>
  </div>
</div>

</br>

<div class="row">
  <% @items.each do |item| %>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <div class="thumbnail">
      <img src="" alt="">
      <div class="caption">
        <h3><%= item.name %></h3>
        <p><%= item.description %></p>
        <p><%= link_to 'Читать далее...', [:moderator, item], class: "btn btn-primary", role: "button" %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br>


