<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">Категории</div>
  <table class="table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Надкатегория</th>
        <th colspan="3">Действия</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.description %></td>
          <% Primecategory.all.each do |primecategory| %>
            <% if primecategory.id == category.primecategory_id %>
              <td><%= primecategory.name %></td>
            <% end %>
          <% end %>
          <td><%= link_to 'Показать', [:admin, category], class: "btn btn-primary" %></td>
          <td><%= link_to 'Изменить', edit_admin_category_path(category), class: "btn btn-info" %></td>
          <td><%= link_to 'Удалить', [:admin, category], method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>

<br>

<%= link_to 'Новая категория', new_admin_category_path %>

